/* 
Colours from _Variables.scss
$ColorBackground: #3b4f2b;
This is a monochromatic ( analgous ) colour scheme. 
Changing $colorBackground will change the tones and values of everything.
*/
@import url("https://fonts.googleapis.com/css?family=Bitter:400,700|Raleway:300,400,700");
html {
  font-family: "Raleway", sans-serif;
  font-size: 13.5pt; }

p, .p {
  margin-top: 1rem;
  line-height: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", serif;
  line-height: 1.6rem; }

h1 {
  font-size: 23.625pt; }

h2 {
  font-size: 20.08125pt; }

h3 {
  font-size: 17.0690625pt; }

h4 {
  font-size: 14.508703125pt; }

h5 {
  font-size: 12.3323976563pt; }

h6 {
  font-size: 10.4825380078pt; }

strong, .strong {
  font-weight: 700; }

em, .em, abbr {
  font-style: italic; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

body {
  margin: 0;
  padding: 0;
  background-color: #3b4f2b; }

img {
  display: block;
  width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  color: #2f3f22; }

p {
  color: #1e2816; }

a {
  text-decoration: none;
  color: #1b2414;
  font-weight: 700;
  transition: all 750ms ease; }
  a:hover, a:focus {
    text-decoration: underline; }

/*-- NAVIGATION - -*/
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  nav ul .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  nav ul li {
    width: 100%;
    margin-bottom: 1px; }
    nav ul li a {
      display: block;
      background-color: #2f3f22;
      color: #c1c5bd;
      height: 50px;
      line-height: 50px;
      text-decoration: none;
      text-align: center; }
      nav ul li a:hover {
        color: #0e130a;
        background-color: #d5d9d3;
        text-decoration: none; }

button {
  width: 100%;
  padding: 1rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 1.32rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  border: 3px solid #2f3f22;
  background-color: #2f3f22;
  color: #ebedea;
  transition: all 750ms ease;
  outline: 0; }
  button:hover {
    cursor: pointer;
    background-color: #ebedea;
    color: #2f3f22; }

/*-- .content-box styles entire content --*/
.content-box {
  display: block;
  text-align: center;
  background-color: #ebedea; }

.wrapper {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1rem; }

.branding {
  display: block;
  margin: 1rem auto;
  text-align: center; }
  .branding h1 {
    color: #ebedea; }

.full-width {
  background-color: #2f3f22;
  margin: 0;
  padding: 0;
  overflow: auto; }

/*-- Styling footer --*/
footer {
  margin-top: 1rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ebedea; }
  footer a {
    color: #ebedea; }
  footer p {
    color: #ebedea; }
  footer .social-links {
    flex-grow: 1; }
    footer .social-links ul {
      list-style: none; }
      footer .social-links ul li {
        display: inline-block;
        font-size: 1.5rem; }
        footer .social-links ul li a {
          color: #f9faf9;
          margin: .5rem; }
          footer .social-links ul li a:hover {
            color: #a5a6a4; }
          footer .social-links ul li a span {
            display: none; }
  footer .copyright-notice {
    flex-grow: 1;
    padding: .5rem;
    text-align: center; }
  footer address {
    flex-grow: 1;
    padding: .5rem; }
    footer address a {
      font-weight: 300; }
      footer address a:hover, footer address a:active {
        text-decoration: underline; }

/*unique */
/* deal with the slide show */
@keyframes fade {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*** specific to this site **/
address {
  text-align: center;
  padding: 1rem; }

#slide-show {
  background-color: #1e2816;
  background-image: url(../images/bkg.png); }
  #slide-show .slide {
    animation: fade 6s ease-in-out;
    min-height: 220px;
    max-width: 100rem;
    margin: 1em auto; }
    #slide-show .slide figure {
      position: relative; }
      #slide-show .slide figure figcaption {
        position: absolute;
        top: 0; }

#content-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto; }
  #content-buttons button {
    width: 100px;
    height: 100px;
    margin: 1rem;
    font-size: 1.1rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }
    #content-buttons button span {
      position: absolute;
      clip: rect(0 0 0 0); }

#content-container {
  overflow: auto; }
  #content-container p {
    margin: 1rem;
    text-align: left; }

#button-01 {
  background-image: url("../images/icon-resist.svg"); }

#button-02 {
  background-image: url("../images/icon-wages.svg"); }

#button-03 {
  background-image: url("../images/icon-home.svg"); }

.active {
  cursor: pointer;
  background-color: #ebedea;
  color: #2f3f22; }

figure {
  position: relative; }
  figure figcaption {
    position: absolute;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: rgba(47, 63, 34, 0.75); }
    figure figcaption p {
      margin: 0;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color: #ebedea; }

/* -- Media Queries ---*/
@media screen and (min-width: 35rem) and (max-width: 80rem) {
  p {
    font-size: 14.85pt; }
  /*-- NAVIGATION - -*/
  nav ul {
    flex-direction: row; }
    nav ul li {
      width: calc(33.33% - 1px);
      margin-bottom: 0px; }
  #content-container img {
    display: block;
    width: 50%;
    float: left;
    padding: 1rem; }
  #content-container p {
    width: 50%;
    float: left;
    margin: 0;
    padding: .5rem 1rem 1rem 1rem; } }

@media screen and (min-width: 80rem) {
  p {
    font-size: 16.2pt; }
  h1 {
    font-size: 38.22525pt; }
  h2 {
    margin-left: 1rem; }
  nav {
    max-width: 40%; }
    nav ul {
      flex-direction: row; }
      nav ul li {
        width: calc(33.33% - 5px);
        margin-bottom: 0px; }
        nav ul li a {
          font-size: 21.843pt;
          height: 2rem;
          line-height: 2rem;
          text-align: center; }
  .content-box {
    text-align: left; }
  .branding h1 {
    margin: .75em 0;
    text-align: left; }
  footer {
    max-width: 40%;
    flex-direction: row;
    align-items: flex-start; }
    footer .social-links {
      text-align: left; }
    footer address {
      margin: 0;
      padding: 0;
      text-align: left; }
    footer .p {
      margin-top: 0; }
    footer .copyright-notice {
      text-align: right; }
      footer .copyright-notice p {
        margin: 0; }
  /*** Specific to this site **/
  #content-buttons {
    flex-direction: column;
    justify-content: flex-start; }
    #content-buttons button {
      width: 70px;
      height: 70px; }
  #content-container img {
    display: block;
    width: 30%;
    float: left;
    padding: 1rem; }
  #content-container p {
    width: 70%;
    float: left;
    margin: 0;
    padding: .5rem 1rem 1rem 1rem; }
  #slide-show .slide p {
    margin-left: 1rem; }
  .layout-control {
    display: flex; } }
